
<header class="header">
    <div class="logo">
        <h1><a routerLink="/" class="logo-link" aria-label="Go to Home Page">Hirezzy</a></h1>
    </div>
    <nav class="navigation" id="nav-menu">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <div class="auth-links" *ngIf="!hideAuthLinks && !userLoggedIn">
        <a routerLink="/signup" routerLinkActive="active" ariaCurrentWhenActive="page">Log In</a>
        <div class="hamburger" onclick="toggleMenu()">
            &#9776; <!-- Hamburger icon -->
        </div>
    </div>

    <div *ngIf="userLoggedIn" class="auth-links">
        <button class="user-button">{{ userName }}</button>
        <button class="logout-button" (click)="logout()">Logout</button>
    </div>
</header>