<header class="header">
    <div class="logo">
        <h1><a routerLink="/" class="logo-link" aria-label="Go to Home Page">Hirezzy</a></h1>
    </div>
    <nav class="navigation" id="nav-menu">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <div class="auth-links" *ngIf="!hideAuthLinks && !userLoggedIn">
        <a routerLink="/signup" routerLinkActive="active" ariaCurrentWhenActive="page">Log In</a>
    </div>

    <div *ngIf="userLoggedIn" class="auth-links">
        <div class="user-button" (click)="toggleDropdown()">{{ userName }}</div>
        <div class="dropdown" *ngIf="showDropdown">
            <div class="dropdown-option" (click)="goToProfile()">Profile</div>
            <div class="dropdown-option" (click)="logout()">Logout</div>
        </div>
    </div>
</header>
