.hero {
    background-color: #FFD700; /* Yellow background */
    height: 80vh;
    display: flex;
    flex-direction: row; /* Default to row */
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    box-sizing: border-box; /* Include padding in width/height */
}

.hero-content {
    flex: 1;
    text-align: left;
}

.input-container {
    margin-top: 20px;
}

input[type="text"],
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.search-button {
    padding: 10px 20px;
    background-color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.search-button:hover {
    background-color: #FFC107; /* Darker yellow on hover */
}

.hero-image {
    flex: 0 0 50%; /* Adjust size as needed */
}

.hero-image img {
    max-width: 100%; /* Responsive image */
    height: auto;
}

.image-attribution {
    font-size: 0.5em; /* Adjust the size to your preference */
    color: #666; /* Optional: Change color to grey */
    margin-top: 0.5em; /* Spacing above the text */
}

.text-underline {
    text-decoration: underline; /* Underline text */
}

.font-size-sm {
    font-size: 0.8em; /* Smaller font size for links */
}

/* Responsive Styles */
@media (max-width: 768px) { /* Adjust the breakpoint as needed */
    .hero {
        flex-direction: column; /* Stack content vertically */
        padding: 20px; /* Adjust padding for smaller screens */
        height: auto; /* Allow height to adjust */
    }

    .hero-content,
    .hero-image {
        width: 100%; /* Take full width */
        text-align: center; /* Center align text on smaller screens */
    }

    .hero-image {
        margin-top: 20px; /* Space between image and content */
    }
}