<section class="hero">
    <div class="hero-content">
        <h1>Find any help with Hirezzy</h1>
        <p class="hero-description">Easily connect with skilled workers.</p>
        <div class="input-container">
            <input type="text" placeholder="Enter your location" />
            <select>
                <option value="">Select Job Type</option>
                <option value="cleaning">Cleaning</option>
                <option value="catering">Catering</option>
                <option value="lifting">Lifting</option>
                <!-- Add more options as needed -->
            </select>
        </div>
        <button class="search-button">Search</button>
    </div>
    <div class="hero-image">
        <img src="images/landingimage.svg" alt="Helpers" />
        <p class="image-attribution">
        <a href="https://iconscout.com/illustrations/renovation" class="text-underline font-size-sm"
            target="_blank">Image</a> by <a
            href="https://iconscout.com/contributors/tarikvision" class="text-underline font-size-sm"
            target="_blank">Anastasiia Torianyk</a>
        </p>
    </div>
</section>